* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: dark only;
  background-color: black;
  color: whitesmoke;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

search input {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: none;
}

.add-contact {
  width: 14rem;
  display: block;

  img {
    transform: translate(0.5rem, 4px);
    height: 15px;
  }
}

.container {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-wrapper {
  min-height: 2rem;
  margin-top: 1rem;

  & button {
    margin: 0 0.5rem;
  }
}

table {
  margin: 2rem auto;
  min-width: 50vh;
}

tr.htmx-swapping {
  opacity: 0;
  /* height: 0; */
  /* font-size: 0px; */
  /* transform: scaleY(0%); */
  transition: all 1000ms ease-out;
}

td {
  border-spacing: 0.5rem 0.75rem;
  padding: 5px 7px;

  & > div > button {
    margin: 0;
  }
}

[data-overflow-menu] {
  position: relative;
}
[role='menu'] {
  position: absolute;
  left: 115%;
  top: 50%;
  transform: translateY(-50%);
}
[role='menu']:not([hidden]) {
  display: flex;
}

.contact {
  max-width: fit-content;
  margin: 2rem auto;
}

form {
  width: 700px;
}

fieldset {
  padding: 2rem 4.5rem;
  border-radius: 4px;

  p {
    position: relative;
    margin: 1.25rem 0;
    display: flex;
    justify-content: space-between;

    input {
      width: 50%;
      padding: 3px 5px;
    }
  }
}

main > p {
  text-align: center;
}

button {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #5c8bb5;
  color: white;
  transition: background-color 250ms ease-in-out;
  fieldset & {
    margin-top: 0.5rem;
  }

  main & {
    margin: 1rem auto;
    text-align: center;
  }

  &:hover:is(:not(.inline-delete-btn)) {
    background-color: #7ca9d1;
  }
}

.error,
fieldset > p > span,
.success {
  color: red;
  font-size: 0.66rem;
  margin: 0.5rem 0;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  text-align: right;
}
.success {
  color: green;
}

[popover]:popover-open {
  opacity: 1;

  &::backdrop {
    backdrop-filter: blur(3px) grayscale(0.7);
    pointer-events: none;
  }
}

[popover] {
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  padding: 2rem 3.5rem;
  border-radius: 10px;
  box-sizing: border-box;
  transition-property: opacity, overlay, display;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.56, 0.03, 0.58, 1.42);
  transition-behavior: allow-discrete;
  opacity: 0;

  &::backdrop {
    backdrop-filter: blur(0) grayscale(1);
    transition: all 250ms cubic-bezier(0.56, 0.03, 0.58, 1.42);
  }
}

@starting-style {
  [popover]:popover-open {
    opacity: 0;
  }

  [popover]::backdrop {
    backdrop-filter: blur(0) grayscale(0);
  }
}

.pagination {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 50ms;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

#spinner {
  position: absolute;
  left: 1rem;
  top: 3px;
}

form:has(#spinner) {
  position: relative;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: width 0.6s ease;
}

.inline-delete-btn,
a {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #7ca9d1;
  margin-right: 1rem;
  font-size: 1rem;
  font-family: inherit;
  transition: color 250ms ease-in-out;

  &:hover {
    color: #5c8bb5;
  }
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  min-width: 100%;
  margin-bottom: 3rem;
  align-items: center;

  & button {
    margin: 0;
    height: 2rem;
  }
}

footer {
  font-size: 0.625rem;
  margin: 1rem 3rem;
  line-height: 1rem;
  letter-spacing: 1px;
  a {
    font-size: inherit;
    margin: 0;
  }
}
