package templates

import "github.com/StephanUllmann/hypermedia-templ/model"


templ Contacts(contacts []models.Contact, query string, page int, archiverStatus string, archiverProgress float64, archiveProgressWidth templ.Attributes, transitionNames []templ.Attributes) {
  @Layout("Contacts"){
    <header>
        <search>
            <form action="/contacts" method="GET">
                <input type="text" name="q" placeholder="Alt+S" id="search"
                    value={query}
                    hx-get="/contacts" 
                    hx-trigger="search, keyup delay:250ms changed" 
                    hx-target="tbody"  
                    hx-select="tbody"
                    hx-swap="outerHTML transition:true"
                    hx-push-url="true" 
                    hx-indicator="#spinner"/>
                <img id="spinner" class="htmx-indicator" src="/public/loading-spinner.svg" alt="Request In Flight..."/>
                <button>Search</button>
            </form>
        </search>
        // <h2 id="spinner" class="htmx-indicator">Loading...</h2>
        // Lazy loading
     <p>
        <a class="add-contact" href="/contacts/new" >Add Contact <span hx-get="/contacts/count" hx-trigger="load"><img  class="htmx-indicator" src="/public/loading-spinner.svg" alt="Request In Flight..."/></span></a>
    </p>


    </header>
    <div class="container" x-data="{ selected: [] }">
        <div class="toolbar-wrapper">
            <template x-if="selected.length > 0">
                <div >
                    <slot x-text="selected.length"></slot>
                    contacts selected
                    <button 
                     @click="confirm(`Delete ${selected.length} contacts?`) && 
                         htmx.ajax('DELETE', '/contacts/bulk', { source: $root, target: document.body, values: selected })">Delete</button>
                    // <hr aria-orientation="vertical">
                    <button type="button" @click="selected = []">Cancel</button>
                </div>
            </template>
        </div>
      <table>
        <thead>
        <tr>
           <th></th> <th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th></th>
        </tr>
        </thead>
        <tbody>
            @Rows(contacts, page, transitionNames)
        </tbody>
    </table>

// <button role="menuitem" class="inline-delete-btn"  hx-get={fmt.Sprintf("/contacts/confirm-delete-popover/%v", contact.ID)} hx-target="#delete-popover" hx-swap="innerHTML" popovertarget="delete-popover" popovertargetaction="show">Delete
//                             </button>

    <div class="bottom-menu">
        <button hx-post="/contacts/confirm-bulk-delete"
                hx-target="#delete-popover"
                hx-swap="innerHTML transition:true"
                popovertarget="delete-popover"
                popovertargetaction="show"
                hx-include="[name='selected_contact_ids']">
                    Delete Selected Contacts
        </button>
        // <button hx-delete="/contacts/bulk"
        //         hx-confirm="Are you sure you want to delete these contacts?"
        //         hx-target="body"
        //         hx-include="[name='selected_contact_ids']">
        //             Delete Selected Contacts
        // </button>
            @Archive_UI(archiverStatus, archiverProgress, archiveProgressWidth)
        
    </div> 
    </div>
// Pagination
    // <div class="pagination">
    //         if page > 1 {
    //         // <a href="/contacts?page={{ page - 1 }}">Previous</a>
    //         <a href={templ.SafeURL(fmt.Sprintf("/contacts?page=%d", page - 1))}>Previous</a>
    //         }
    //         if len(contacts) == 10 {
    //         <a href={templ.SafeURL(fmt.Sprintf("/contacts?page=%d", page + 1))}>Next</a>
    //         }
    // </div>


    <div popover id="delete-popover">
       
    </div>

  }
}


// _="on keydown[altKey and code is 'KeyS'] from the window
//     me.focus()"