package templates

import "github.com/StephanUllmann/hypermedia-templ/model"
// import "fmt"

templ Contacts(contacts []models.Contact, query string, page int) {
  @Layout("Contacts"){
    <header>
        <search>
            <form action="/contacts" method="GET">
                <input type="text" name="q" placeholder="Search" id="search"
                    value={query}
                    hx-get="/contacts" 
                    hx-trigger="search, keyup delay:500ms changed" 
                    hx-target="tbody"  
                    hx-select="tbody tr"
                    hx-push-url="true" 
                    hx-indicator="#spinner"/>
                <img id="spinner" class="htmx-indicator" src="/public/loading-spinner.svg" alt="Request In Flight..."/>
                <input type="submit" value="Search" />
            </form>
        </search>
        // <h2 id="spinner" class="htmx-indicator">Loading...</h2>
    </header>
      <table>
        <thead>
        <tr>
            <th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th></th>
        </tr>
        </thead>
        <tbody>
            @Rows(contacts, page)
        </tbody>
    </table>

// Pagination
    // <div class="pagination">
    //         if page > 1 {
    //         // <a href="/contacts?page={{ page - 1 }}">Previous</a>
    //         <a href={templ.SafeURL(fmt.Sprintf("/contacts?page=%d", page - 1))}>Previous</a>
    //         }
    //         if len(contacts) == 10 {
    //         <a href={templ.SafeURL(fmt.Sprintf("/contacts?page=%d", page + 1))}>Next</a>
    //         }
    // </div>

     <p>
        <a href="/contacts/new" >Add Contact</a>
    </p>
  }
}