package templates

import "github.com/StephanUllmann/hypermedia-templ/model"
import "fmt"

templ EditContact(contact models.Contact, transitionNameFirst templ.Attributes, transitionNameLast templ.Attributes) {
  @Layout(fmt.Sprintf("Edit %s", contact.First)) {
        <form action={templ.SafeURL(fmt.Sprintf("/contacts/%v/edit", contact.ID))} method="post" >
          @FieldsetContact(contact)
      </form>
      
      <button popovertarget={fmt.Sprintf("delete-%v", contact.ID)} >
              Delete Contact
      </button>

      <div popover id={fmt.Sprintf("delete-%v", contact.ID)}>
        <p>Really delete {contact.First} {contact.Last}?</p>
        <button hx-delete={fmt.Sprintf("/contacts/%v", contact.ID)} 
                hx-target="body"
                hx-push-url="true"
                id="delete-btn">
                Confirm
        </button>
        <button popovertarget={fmt.Sprintf("delete-%v", contact.ID)} popovertargetaction="hide" >Cancel</button>
      </div>

      <p>
        <a href="/contacts" >Back</a>
      </p>
  }
}