package templates

templ Layout(title string) {
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet"  href="/public/styles.css" />
      <script defer src="/public/htmx.min.js" ></script>
      // <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

      <script defer src="/public/overflow-menu.js" ></script>
      <script defer src="https://unpkg.com/alpinejs"></script>
      <script defer src="https://unpkg.com/hyperscript.org@0.9.12"></script>
      <title>{title}</title>
    </head>
    <body>
      <main hx-boost="true">
        {children...}
      </main>
      <footer>
        <p>Created following <a href="https://hypermedia.systems/" target="_blank">Hypermedia Systems</a></p>
        <p>Using <a href="https://htmx.org/" target="_blank">htmx</a>, <a href="https://golang.org/" target="_blank">Go</a>,
         <a href="https://templ.guide/" target="_blank">templ</a>
          and some sprinkles of <a href="https://alpinejs.dev/" target="_blank">Alpine.js</a> and <a href="https://hyperscript.org/" target="_blank">_hyperscript</a></p>
          <p>Source code available at <a href="https://github.com/StephanUllmann/hypermedia-templ" target="_blank">github.com/StephanUllmann/hypermedia-templ</a></p>
      </footer>
    </body>
  </html>
}