package templates

import "github.com/StephanUllmann/hypermedia-templ/model"


templ NewContact(contact models.Contact) {
  @Layout("New Contact") {
    <form action="/contacts/new" method="post">
        @FieldsetContact(contact)
    </form>

    <p>
        <a href="/contacts">Back</a>
    </p>
}
}